{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <script src='main.js'></script>
</head>
<body>
    <ul>
        <li><a href="{% url "home" %}">GO to home</a></li>
        <li><a href="{% url "rewards" %}">GO to rewards</a></li>
        <li><a href="{% url "contactUs" %}">GO to contactus</a></li>
    </ul>
    {% block content %}

    {% endblock %}
</body>

<style>
    body {
        background-color: azure;
    }
</style>

</html>

