{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LAN | НҮҮР</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">
    <link rel="icon" type="image/png" href="{% static "images/Nesa.png" %}">
    <link rel="icon" type="image/png" href="{% static "/images/Nesa.png" %} ">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "/vendor/bootstrap/dist/css/bootstrap.min.css" %}">
    <script defer src="{% static "vendor/fontawesome-free/js/all.js" %}"></script>
    <script defer src="{% static "vendor/fontawesome-free/js/v4-shims.js" %}"></script>
    <link rel="stylesheet" href="{% static "/vendor/ionicons/css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "/vendor/flickity/dist/flickity.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/photoswipe/dist/photoswipe.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/photoswipe/dist/default-skin/default-skin.css" %}">
    <link rel="stylesheet" href="{% static "vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/summernote/dist/summernote-bs4.css" %}">
    <link rel="stylesheet" href="{% static "/css/goodgames.css" %}">
    <script src="{% static "/vendor/jquery/dist/jquery.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/css/style.css" %}">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="{% static "/css/css.css" %}">
    <link rel="stylesheet" href="{% static "vendor/ionicons/css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/flickity/dist/flickity.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/photoswipe/dist/photoswipe.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/photoswipe/dist/default-skin/default-skin.css" %}">
    <link rel="stylesheet" href="{% static "vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/summernote/dist/summernote-bs4.css" %} ">
    <link rel="stylesheet" href="{% static "css/goodgames.css" %} ">
    <script src="{% static "/vendor/jquery/dist/jquery.min.js" %} "></script>
    <link rel="stylesheet" type="text/css" href="{% static "/css/style.css" %}">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="{% static "/css/css.css" %} ">
    <link rel="stylesheet" href="{% static "/css/filter.css" %} ">
    <link rel="stylesheet" href="{% static "/css/date.css" %} ">
      <link rel="stylesheet" href="{% static "/css/steam.css" %} ">
    <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
</head>
<header class="desktop-header" >
    <div class="page-header">
        <div class="inner-header">
            <div class="header-left">
                <div class="header-left-inner">
                    <div class="header-left-inner-line"></div>
                    <div class="header-social">
                        <div class="inner-social">
                            <div class="inner-social-text">
                                
                            </div>
                            <div class="inner-social-icons">
                                <a class="social-icons" href="{{ global_settings.facebook }}">
                                    <span class="iconify" data-icon="fa-brands:facebook-square" data-inline="false"></span>
                                </a>
                                <a class="social-icons" href="{{ global_settings.twitter }}">
                                    <span class="iconify" data-icon="fa-brands:twitter-square" data-inline="false"></span>
                                </a>
                                <a class="social-icons" href="{{ global_settings.gmail }}">
                                    <span class="iconify" data-icon="fa-brands:google" data-inline="false"></span>
                                </a>
                                <a class="social-icons" href="{{ global_settings.steam">
                                    <span class="iconify" data-icon="fa-brands:steam" data-inline="false"></span>
                                </a>
                                <a class="social-icons" href="{{ global_settings.twitch }}">
                                    <span class="iconify" data-icon="fa-brands:twitch" data-inline="false"></span>
                                </a>
                                <a class="social-icons" href="{{ global_settings.youtube }}">
                                    <span class="iconify" data-icon="fa-brands:youtube" data-inline="false"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <nav class="nav-bar-left">
                        <ul>
                            <li class="hover-effect-tuku">
                                <a href="{% url "home" %}" class=" border-b">НҮҮР</a>
                            </li>
                            <li class="hover-effect-tuku"  >
                                <a href="" class=" border-b">МЭДЭЭЛЭЛ</a>
                                <ul class="hover-effect-content">
                                    <li><a href="{% url "rewards-blog-archive" %}" class="border-a">SERVER</a></li>
                                    <li><a href="{% url "news-blog-archive" %}" class="border-a">МЭДЭЭЛЭЛ</a></li>
                                    <li><a href="{% url "rewards-blog-grid" %}" class="border-a">ШАГНАЛ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-center">
                <div class="inner-header-center" style="background-image: url('{% static "/images/back1.png"%}');">
                    <div class="header-logo-wrapper">
                        <a class="logo-clicker" href="{% url "home" %}">
                        <img class="header-logo"src="{{ global_settings.logo.url }}" alt="logo" width="85" height="85">
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-inner">
                    <div class="header-right-inner-line"></div>
                    <div class="header-title">
                        <div class="header-title-container">
                            <div class="nk-post-text">
                           <a href="#" class="steambutton"><span>НЭВТРЭХ</span><div class="icon">
		<i class="fa fa-steam-square"></i>

	</div></a>
                        
                            </div>
                        </div>
                    </div>
                    <nav class="nav-bar-right">
                        <ul>
                            <li class="hover-effect-tuku"><a href="https://nesa.mn/"  class=" border-b" target="_blank">NESA.MN</a></li>
                            <li  class="hover-effect-tuku"><a href="{% url "contactUs" %}" class=" border-b">ХОЛБОО БАРИХ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="mobile-header">
    <div class="mobile-header-container">
        <div class="mobile-inner-header">
            <div class="mobile-menu" >
                    <img  onclick="mobileNavMenu()" id="menuImg" class="mobile-menu-img" src="{% static "/images/men.png"%}" alt="mobile-menu" width="30" height="30">
            </div>
            <div class="mobile-logo">
                    <a href="#">
                        <img src="{{ global_settings.logo.url }}" alt="mobile-logo" width="45" height="45">
                    </a>
            </div>
        </div>
    </div>
    <div class="mobile-nav">
    <ul id="mobileNavInner" class="mobile-nav-inner">
        <li><a href="{% url "home" %}">НҮҮР</a></li>
        <li><a href="#">МЭДЭЭЛЭЛ</a>
           <ul>
               <li><a href="{% url "rewards-blog-archive" %}">SERVER</a></li>
               <li><a href="{% url "news-blog-archive" %}">МЭДЭЭЛЭЛ</a></li>
               <li><a href="{% url "rewards-blog-grid" %}">ШАГНАЛ</a></li>
           </ul>
        </li>
        <a href="https://nesa.mn/" target="_blank"><li>NESA.MN</li></a>
        <a href="{% url "contactUs" %}"><li>ХОЛБОО БАРИХ</li></a>
    </ul>
    </div>
</header>

    {% block content %}
    
    {% endblock %}
    <footer class="nk-footer">

        <div class="container">
            <div class="nk-gap-3"></div>
            <div class="row vertical-gap">
                <div class="col-md-6">
                    <div class="nk-widget">
                        <h4 class="nk-widget-title"><span class="text-main-1">Холбоо</span> Барих</h4>
                        <div class="nk-widget-content">
                            <form action="" class="nk-form nk-form-ajax" method="post">
                                {% csrf_token %}
                                <div class="row vertical-gap sm-gap">
                                    <div class="col-md-6">
                                        <input type="email" class="form-control required" name="email" placeholder="Email *">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control required" name="name" placeholder="Нэр *">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control required" name="phone" placeholder="Утас *">
                                    </div>
                                </div>
                                <div class="nk-gap"></div>
                                <textarea class="form-control required" name="text" rows="5" placeholder="Message *"></textarea>
                                <div class="nk-gap-1"></div>
                                <button class="nk-btn nk-btn-rounded nk-btn-color-white">
                                    <span>Илгээх</span>
                                    <span class="icon"><i class="ion-paper-airplane"></i></span>
                                </button>
                                <div class="nk-form-response-success"></div>
                                <div class="nk-form-response-error"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="nk-widget">
                        <h4 class="nk-widget-title"><span class="text-main-1">Онцлох</span> Posts</h4>
                        <div class="nk-widget-content">
                            <div class="row vertical-gap sm-gap">
                                
                                <div class="col-lg-6">
                                    <div class="nk-widget-post-2">
                                        <a href="{% url 'news-blog-archive' %}" class="nk-post-image">
                                            <img src="{% static "/images/ty.jpg"%}" alt="">
                                        </a>
                                        <div class="nk-post-title"><a href="{% url 'news-blog-archive' %}">2020 оны зуны RMR онооны тэмцээний тов зарлагдлаа.</a>
                                        </div>
                                        <div class="nk-post-date">
                                            <span class="fa fa-calendar"></span> 2018 оны 9-р сарын 18 нд
                                            <span class="fa fa-comments"></span> <a href="#">4</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="nk-widget-post-2">
                                        <a href="{% url 'news-blog-archive' %}" class="nk-post-image">
                                            <img src="{% static "/images/ty.jpg"%}" alt="">
                                        </a>
                                        <div class="nk-post-title"><a href="{% url 'news-blog-archive' %}">2020 оны зуны RMR онооны тэмцээний тов зарлагдлаа.</a></div>
                                        <div class="nk-post-date">
                                            <span class="fa fa-calendar"></span> 2018 оны 9-р сарын 18 нд
                                            <span class="fa fa-comments"></span> <a href="#">7</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title"><span class="text-main-1">Холбоо барих</span> Утас</h4>
                        <div class="nk-widget-content">
                            <div class="nk-phone-list"><img src="{% static "/images/phone-logo.png" %}"><span> {{ global_settings.phone_no }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-3"></div>
        </div>
    
        <div class="nk-copyright">
            <div class="container">
                <div class="nk-copyright-left">
                    <img src="{{ global_settings.logo.url }}" alt="footer logo" width="110" height="75">
                </div>
                <div class="nk-copyright-right">
                    <ul class="nk-social-links-2">
                        
                        <li><a class="nk-social-twitch" href="{{ global_settings.twitch }}"><span class="fab fa-twitch"></span></a></li>
                        <li><a class="nk-social-steam" href="{{ global_settings.steam }}"><span class="fab fa-steam"></span></a></li>
                        <li><a class="nk-social-facebook" href="{{ global_settings.facebook }}"><span class="fab fa-facebook"></span></a></li>
                        <li><a class="nk-social-google" href="{{ global_settings.gmail }}"><span class="fab fa-google"></span></a></li>
                        <li><a class="nk-social-twitter" href="{{ global_settings.twitter }}" target="_blank"><span class="fab fa-twitter"></span></a></li>
                        <li><a class="nk-social-youtube" href="{{ global_settings.youtube }}"><span class="fab fa-youtube"></span></a></li>
    
                        <!-- Additional Social Buttons
                            <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                            <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                            <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                            <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                            <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                            <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                            <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                            <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                            <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                            <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                            <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                            <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                            <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                            <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                            <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                            <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                            <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                            <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                            <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                            <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                            <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script >
        function mobileNavMenu() {
            let mobileNav = document.getElementById("mobileNavInner");
            let mobileNavClass1 = mobileNav.classList.contains("mobile-nav-inner-one");
            let mobileNavClass2 = mobileNav.classList.contains("mobile-nav-inner-two");
            let mobileNavClass0 = mobileNav.classList.contains("mobile-nav-inner");
            if (mobileNav && mobileNavClass0) {
            mobileNav.classList.remove("mobile-nav-inner");
            mobileNav.classList.add("mobile-nav-inner-two");
            }else if (mobileNav && mobileNavClass2) {
                mobileNav.classList.remove("mobile-nav-inner-two");
                mobileNav.classList.add("mobile-nav-inner-one");
            }else if (mobileNav && mobileNavClass1) {
                mobileNav.classList.remove("mobile-nav-inner-one");
                mobileNav.classList.add("mobile-nav-inner-two");
            }
            let menuImg = document.getElementById("menuImg");
            let mobileMenuImg0 = menuImg.classList.contains("mobile-menu-img");
            let mobileMenuImg1 = menuImg.classList.contains("mobile-menu-img1");
            let mobileMenuImg2 = menuImg.classList.contains("mobile-menu-img2");
            if (menuImg && mobileMenuImg0) {
                menuImg.classList.remove("mobile-menu-img");
                menuImg.classList.add("mobile-menu-img1");
            }else if (menuImg && mobileMenuImg1) {
                menuImg.classList.remove("mobile-menu-img1");
                menuImg.classList.add("mobile-menu-img2");
            }else if (menuImg && mobileMenuImg2) {
                menuImg.classList.remove("mobile-menu-img2");
                menuImg.classList.add("mobile-menu-img1");
            }
        }
    </script>
    
    <script src="{% static "/js/pagination.js" %}"></script>
    <Script defer src="{% static "/js/456.js" %}"></Script>
    <Script defer src="{% static "/js/filter.js" %}"></Script>
    <Script defer src="{% static "/js/datepicker.js" %}"></Script>

<!-- Object Fit Polyfill -->
<script src="{% static "vendor/object-fit-images/dist/ofi.min.js" %}"></script>
<script src="{% static "/js/pagination.js" %}"></script>
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js.map"></script>

<!-- GSAP -->
<script src="{% static "vendor/gsap/src/minified/TweenMax.min.js" %}"></script>
<script src="{% static "vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js" %}"></script>

<!-- Popper -->
<script src="{% static "vendor/popper.js/dist/umd/popper.min.js" %}"></script>

<!-- Bootstrap -->
<script src="{% static "vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>

<!-- Sticky Kit -->
<script src="{% static "vendor/sticky-kit/dist/sticky-kit.min.js" %}"></script>

<!-- Jarallax -->
<script src="{% static "vendor/jarallax/dist/jarallax.min.js" %}"></script>
<script src="{% static "vendor/jarallax/dist/jarallax-video.min.js" %}"></script>

<!-- imagesLoaded -->
<script src="{% static "vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>

<!-- Flickity -->
<script src="{% static "/vendor/flickity/dist/flickity.pkgd.min.js" %}"></script>

<!-- Photoswipe -->
<script src="{% static "vendor/photoswipe/dist/photoswipe.min.js" %}"></script>
<script src="{% static "vendor/photoswipe/dist/photoswipe-ui-default.min.js" %}"></script>

<!-- Jquery Validation -->
<script src="{% static "vendor/jquery-validation/dist/jquery.validate.min.js" %}"></script>

<!-- Jquery Countdown + Moment -->
<script src="{% static "vendor/jquery-countdown/dist/jquery.countdown.min.js" %}"></script>
<script src="{% static "vendor/moment/min/moment.min.js" %}" ></script>
<script src="{% static "vendor/moment-timezone/builds/moment-timezone-with-data.min.js" %}"></script>

<!-- Hammer.js -->
<script src="{% static "vendor/hammerjs/hammer.min.js" %}"></script>

<!-- NanoSroller -->
<script src="{% static "vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js" %}"></script>

<!-- SoundManager2 -->
<script src="{% static "vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js" %}"></script>

<!-- Seiyria Bootstrap Slider -->
<script src="{% static "vendor/bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>

<!-- Summernote -->
<script src="{% static "vendor/summernote/dist/summernote-bs4.min.js" %}"></script>

<!-- nK Share -->
<script src="{% static "plugins/nk-share/nk-share.js" %}"></script>

<!-- GoodGames -->
<script src="{% static "js/goodgames.min.js" %}"></script>
<script src="{% static "js/goodgames-init.js" %}"></script>
<!-- END: Scripts -->
</body>
</html>