{% extends 'base.html' %}

{% block content %}
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="index.html" class="nk-nav-logo">
                <img src="static/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav">
                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Navbar Mobile -->

    

    <div class="nk-main">
        
            <div class="nk-gap-2"></div>
        

        
<div class="container">

    <!-- START: Image Slider -->
    <div class="nk-image-slider" data-autoplay="8000">
        
        
        <div class="nk-image-slider-item">
            <img src="static/images/champ.png" alt="" class="nk-image-slider-img" data-thumb="static/images/slide-1-thumb.jpg">
            
            <div class="nk-image-slider-content">
                
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Унших</a>
                
            </div>
            
        </div>
        
        <div class="nk-image-slider-item">
            <img src="static/images/def.jpg" alt="" class="nk-image-slider-img" data-thumb="static/images/slide-2-thumb.jpg">
            
            <div class="nk-image-slider-content">
                
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Унших</a>
                
            </div>
            
        </div>
        
        <div class="nk-image-slider-item">
            <img src="static/images/cbs.jpg" alt="" class="nk-image-slider-img" data-thumb="static/images/slide-3-thumb.jpg">
            
        </div>
        
        <div class="nk-image-slider-item">
            <img src="static/images/show.png" alt="" class="nk-image-slider-img" data-thumb="static/images/slide-4-thumb.jpg">
            
            <div class="nk-image-slider-content">
                
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Унших</a>
                
            </div>
            
        </div>
        
        <div class="nk-image-slider-item">
            <img src="static/images/iem.jpg" alt="" class="nk-image-slider-img" data-thumb="static/images/slide-5-thumb.jpg">
            
            <div class="nk-image-slider-content">
                
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Унших</a>
                
            </div>
            
        </div>
        
    </div>
    <!-- END: Image Slider -->

    <!-- START: Categories -->
    
    <!-- END: Categories -->

    <!-- START: Latest News -->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Шагнал - </span> Server</span></h3>
    <div class="nk-gap"></div>

    <div class="nk-news-box">
        <!-- Left Side -->
        <div class="nk-news-box-list">
            <div class="nano">
                <div class="nano-content">
                    
                    
                    <div class="nk-news-box-item nk-news-box-item-active">
                        <div class="nk-news-box-item-img">
                            <img src="static/images/ma.jpg" alt="Smell magic in the air. Or maybe barbecue">
                        </div>
                        <img src="static/images/arc.jpg" alt="Smell magic in the air. Or maybe barbecue" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">nesa.mn:27021</h3>
                        
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">Шагнал</span>
                        </span>
                        
                        <div class="nk-news-box-item-text">
                            <p>Ялагч<br><br>Нэр: Machinegun<br><br>Rank: Silver Elite Master<br><br>Point: 456<br><br>KDA: 1.67</p>
                        </div>
                        <a href="prize.html" class="nk-news-box-item-url">Read More</a>
                        
  
                    </div>
                    
                    
                    <div class="nk-news-box-item">
                        <div class="nk-news-box-item-img">
                            <img src="static/images/Nesa.png" alt="Grab your sword and fight the Horde">
                        </div>
                        <img src="static/images/arc.jpg" alt="Grab your sword and fight the Horde" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">nesa.mn:27022</h3>
                        
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-1">Шагнал</span>
                        </span>
                        
                        <div class="nk-news-box-item-text">
                           <p>Ялагч<br><br>Нэр: Machinegun<br><br>Rank: Silver Elite Master<br><br>Point: 456<br><br>KDA: 1.67</p>
                        </div>
                         

                    </div>
                    
                    
                    <div class="nk-news-box-item">
                        <div class="nk-news-box-item-img">
                            <img src="static/images/Nesa.png" alt="We found a witch! May we burn her?">
                        </div>
                        <img src="static/images/arc.jpg" alt="We found a witch! May we burn her?" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">nesa.mn:27023</h3>
                        
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-2">Шагнал</span>
                        </span>
                        
                        <div class="nk-news-box-item-text">
                            <p>Ялагч<br><br>Нэр: Machinegun<br><br>Rank: Silver Elite Master<br><br>Point: 456<br><br>KDA: 1.67</p></p>
                        </div>
                        

                    </div>
                    
                    
                    <div class="nk-news-box-item">
                        <div class="nk-news-box-item-img">
                            <img src="static/images/Nesa.png" alt="For good, too though, in consequence">
                        </div>
                        <img src="static/images/arc.jpg" alt="For good, too though, in consequence" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">nesa.mn:27023</h3>
                        
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-3">Шагнал</span>
                        </span>
                        
                        <div class="nk-news-box-item-text">
                            <p>Ялагч<br><br>Нэр: Machinegun<br><br>Rank: Silver Elite Master<br><br>Point: 456<br><br>KDA: 1.67</p>
                        </div>
                        

                    </div>
                    
                    
                    <div class="nk-news-box-item">
                        <div class="nk-news-box-item-img">
                            <img src="static/images/Nesa.png" alt="He made his passenger captain of one">
                        </div>
                        <img src="static/images/arc.jpg" alt="He made his passenger captain of one" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">nesa.mn:27024</h3>
                        
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-5">Шагнал</span>
                        </span>
                        
                        <div class="nk-news-box-item-text">
                            <p>Ялагч<br><br>Нэр: Machinegun<br><br>Rank: Silver Elite Master<br><br>Point: 456<br><br>KDA: 1.67</p>
                        </div>
                        

                    </div>
                    
                    
                    <div class="nk-news-box-item">
                        <div class="nk-news-box-item-img">
                            <img src="static/images/Nesa.png" alt="At first, for some time, I was not able to answer">
                        </div>
                        <img src="static/images/arc.jpg" alt="At first, for some time, I was not able to answer" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">nesa.mn:27025</h3>
                        
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-5">Шагнал</span>
                        </span>
                        
                        <div class="nk-news-box-item-text">
                            <p>Ялагч<br><br>Нэр: Machinegun<br><br>Rank: Silver Elite Master<br><br>Point: 456<br><br>KDA: 1.67</p>
                        </div>
                        

                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Right Side -->
        <div class="nk-news-box-each-info">
            <div class="nano">
                <div class="nano-content">
                    <!-- There will be inserted info about selected news-->
                    <div class="nk-news-box-item-image">
                        <img src="static/images/post-1.jpg" alt="">
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">MMO</span>
                        </span>
                    </div>
                    
                    <h3 class="nk-news-box-item-title">Smell magic in the air. Or maybe barbecue</h3>
                    <div class="nk-news-box-item-text">
                        <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between to-day and yesterday! Now I am friendless and alone...</p>
                    </div>
                    <div class="nk-news-box-item-more">
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-main-1"><</a>
                    </div>
                    <div class="nk-news-box-item-date">
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-main-1">></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- END: Latest News -->

    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
        <div class="col-lg-8">

            <!-- START: Latest Posts -->
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1"></span></span></h3>
            <div class="nk-gap"></div>
            <div class="nk-blog-grid">
                <div class="row">
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">Төлбөр Төлөх заавар</a></h2>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="static/images/soc.png" alt="At first, for some time, I was not able to answer">
                                <span class="nk-post-comments-count">0</span>
                            </a>
                            <div class="nk-post-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and type.</p>
                            </div>
                            <div class="nk-gap"></div>
                            
                        </div>
                        
                        <!-- END: Post -->
                    </div>
                    <div class="col-md-6">
                        <div class="nk-gap"></div>
                        <h2 class="nk-post-title h4"><a href="blog-article.html">Тоглолтын Action</a></h2>
                        <div class="nk-gap"></div>
                        <div class="nk-widget-content">
                            <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=vXy8UBazlO8"></div>
                        </div>
                        
                    </div>
                    
                </div>
                <!-- multistep form -->
                <!-- multistep form -->

                <!-- multistep form -->
                <form id="msform">
                <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Account Setup</li>
                        <li>Social Profiles</li>
                        <li>Personal Details</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Create your account</h2>
                        <h3 class="fs-subtitle">This is step 1</h3>
                        <input type="text" name="email" placeholder="Email" />
                        <input type="password" name="pass" placeholder="Password" />
                        <input type="password" name="cpass" placeholder="Confirm Password" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Social Profiles</h2>
                        <h3 class="fs-subtitle">Your presence on the social network</h3>
                        <input type="text" name="twitter" placeholder="Twitter" />
                        <input type="text" name="facebook" placeholder="Facebook" />
                        <input type="text" name="gplus" placeholder="Google Plus" />
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Personal Details</h2>
                        <h3 class="fs-subtitle">We will never sell it</h3>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="text" name="phone" placeholder="Phone" />
                        <textarea name="address" placeholder="Address"></textarea>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>
    
            </div>
            
        </div>
    <div class="col-lg-4">
        
      
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Дараагийн</span> Тэмцээн</span></h4>
    <div class="nk-widget-content">
        <div class="nk-widget-match">
            <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="static/images/team-1.jpg" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="static/images/team-2.jpg" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">CS:GO - Apr 28, 2018 8:00 pm</span>
                </span>
                <span class="nk-widget-match-right">
                    <span class="nk-match-score">
                        Upcoming
                    </span>
                </span>
            </a>
        </div>

        <div class="nk-widget-match">
            <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="static/images/team-1.jpg" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="static/images/team-2.jpg" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">CS:GO - Apr 28, 2018 8:00 pm</span>
                </span>
                <span class="nk-widget-match-right">
                    <span class="nk-match-score">
                        Upcoming
                    </span>
                </span>
            </a>
        </div>

        

        <div class="nk-widget-match">
            <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="static/images/team-1.jpg" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="static/images/team-4.jpg" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">CS:GO - Apr 12, 2018 6:40 pm</span>
                </span>
                <span class="nk-widget-match-right">
                    <span class="nk-match-score bg-dark-1">
                        0 : 0
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>
            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>
</div>

<div class="nk-gap-4"></div>
{% endblock %}