{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="index.html" class="nk-nav-logo">
                <img src="static/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav">
                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Navbar Mobile -->
<div class="nk-main">
    <div class="nk-gap-2"></div>
    <div class="nk-gap-2"></div>
    <div class="container">
        <!-- START: Image Slider -->
        <div class="nk-image-slider" data-autoplay="8000">
            <div class="nk-image-slider-item">
                <img src="static/images/show.png" alt="" class="nk-image-slider-img"
                    data-thumb="static/images/show.png">
                <div class="nk-image-slider-content">
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                </div>
            </div>
            <div class="nk-image-slider-item">
                <img src="static/images/def.jpg" alt="" class="nk-image-slider-img" data-thumb="static/images/def.jpg">
                <div class="nk-image-slider-content">
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                </div>
            </div>
            <div class="nk-image-slider-item">
                <img src="static/images/cbs.jpg" alt="" class="nk-image-slider-img" data-thumb="static/images/cbs.jpg">
                <div class="nk-image-slider-content">
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                </div>
            </div>
            <div class="nk-image-slider-item">
                <img src="static/images/show.png" alt="" class="nk-image-slider-img"
                    data-thumb="static/images/show.png">
                <div class="nk-image-slider-content">
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                </div>
            </div>
            <div class="nk-image-slider-item">
                <img src="static/images/iem.jpg" alt="" class="nk-image-slider-img" data-thumb="static/images/iem.jpg">
                <div class="nk-image-slider-content">
                    <h3 class="h4">NESA.MN 6-р сарын Тэмцээн</h3>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                    <p class="text-white">RTX-2080 Шагналтай серверийн Тэмцээн.</p>
                </div>
            </div>
        </div>

        <!-- START: feature -->
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap">
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="{% static "/images/secure.png" %}" alt="" style="width: 30px;">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="#">Серверийн жагсаалт</a></h3>
                        <h4 class="nk-feature-title text-main-1"><a href="#">Серверийн мэдээлэл</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="{% static "/images/trophy.png" %}" alt="" style="width: 32px;">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="#">Серверийн Шагналууд</a></h3>
                        <h4 class="nk-feature-title text-main-1"><a href="#">Шагнал</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="{% static "/images/contact.png" %}" alt="" style="width: 32px;">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="#">Хүсэлт илгээх</a></h3>
                        <h4 class="nk-feature-title text-main-1"><a href="#">Холбоо барих</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: feature -->

        <br>
        <!-- Latest prize section-->
        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Сүүлд</span> зарлагдсан шагнал</span></h3>
        <div class="nk-gap"></div>

        <div class="nk-news-box">
            <div class="nk-news-box-list">
                <div class="nano">
                    <div class="nano-content">


                        <div class="nk-news-box-item nk-news-box-item-active">
                            <div class="nk-news-box-item-img">
                                <img src="{% static "/images/rtx.png"%}" alt="">
                            </div>
                            <img src="{% static "/images/rtx.png"%}" alt="" class="nk-news-box-item-full-img">
                            <h3 class="nk-news-box-item-title">Мэдээний гарчиг</h3>

                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-4">Ивээн тэтгэгч</span>
                            </span>

                            <div class="nk-news-box-item-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</p>
                            </div>
                            <a href="blog-article.html" class="nk-news-box-item-url">Унших</a>
                            <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> Sep 18, 2018
                            </div>
                        </div>


                        <div class="nk-news-box-item">
                            <div class="nk-news-box-item-img">
                                <img src="{% static "/images/rtx.png"%}" alt="">
                            </div>
                            <img src="{% static "/images/rtx.png"%}" alt="" class="nk-news-box-item-full-img">
                            <h3 class="nk-news-box-item-title">Мэдээний гарчиг</h3>

                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-1">Ивээн тэтгэгч</span>
                            </span>

                            <div class="nk-news-box-item-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</p>
                            </div>
                            <a href="blog-article.html" class="nk-news-box-item-url">Унших</a>
                            <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> Sep 5, 2018
                            </div>
                        </div>


                        <div class="nk-news-box-item">
                            <div class="nk-news-box-item-img">
                                <img src="{% static "/images/rtx.png"%}" alt="">
                            </div>
                            <img src="{% static "/images/rtx.png"%}" alt="" class="nk-news-box-item-full-img">
                            <h3 class="nk-news-box-item-title">Мэдээний гарчиг</h3>

                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-2">Ивээн тэтгэгч</span>
                            </span>

                            <div class="nk-news-box-item-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</p>
                            </div>
                            <a href="blog-article.html" class="nk-news-box-item-url">Унших</a>
                            <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> Aug 27, 2018
                            </div>
                        </div>


                        <div class="nk-news-box-item">
                            <div class="nk-news-box-item-img">
                                <img src="{% static "/images/rtx.png"%}" alt="">
                            </div>
                            <img src="{% static "/images/rtx.png"%}" alt="" class="nk-news-box-item-full-img">
                            <h3 class="nk-news-box-item-title">Мэдээний гарчиг</h3>

                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-3">Ивээн тэтгэгч</span>
                            </span>

                            <div class="nk-news-box-item-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</p>
                            </div>
                            <a href="blog-article.html" class="nk-news-box-item-url">Унших</a>
                            <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> Aug 14, 2018
                            </div>
                        </div>


                        <div class="nk-news-box-item">
                            <div class="nk-news-box-item-img">
                                <img src="{% static "/images/rtx.png"%}" alt="">
                            </div>
                            <img src="{% static "/images/rtx.png"%}" alt="" class="nk-news-box-item-full-img">
                            <h3 class="nk-news-box-item-title">Мэдээний гарчиг</h3>

                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-5">Ивээн тэтгэгч</span>
                            </span>

                            <div class="nk-news-box-item-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</p>
                            </div>
                            <a href="blog-article.html" class="nk-news-box-item-url">Унших</a>
                            <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> Jul 23, 2018
                            </div>
                        </div>


                        <div class="nk-news-box-item">
                            <div class="nk-news-box-item-img">
                                <img src="{% static "/images/rtx.png"%}" alt="">
                            </div>
                            <img src="{% static "/images/rtx.png"%}" alt="" class="nk-news-box-item-full-img">
                            <h3 class="nk-news-box-item-title">Мэдээний гарчиг</h3>

                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-5">Ивээн тэтгэгч</span>
                            </span>

                            <div class="nk-news-box-item-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</p>
                            </div>
                            <a href="blog-article.html" class="nk-news-box-item-url">Унших</a>
                            <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> Jul 3, 2018
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="nk-news-box-each-info">
                <div class="nano">
                    <div class="nano-content">
                        <!-- There will be inserted info about selected news-->
                        <div class="nk-news-box-item-image">
                            <img src="assets/images/post-1.jpg" alt="">
                            <span class="nk-news-box-item-categories">
                                <span class="bg-main-4">MMO</span>
                            </span>
                        </div>
                        <h3 class="nk-news-box-item-title">Smell magic in the air. Or maybe barbecue</h3>
                        <div class="nk-news-box-item-text">
                            <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend!
                                Oh, what a change between to-day and yesterday! Now I am friendless and alone...</p>
                        </div>
                        <a href="blog-article.html" class="nk-news-box-item-more">Унших</a>
                        <div class="nk-news-box-item-date">
                            <span class="fa fa-calendar"></span> Sep 18, 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest prize section end-->
        <br>
        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">nesa.mn Premium </span>Серверийг Та авсанаар</span>
        </h3>
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap text-white">
            <div class="col-lg-6">
                <div class="nk-box-2 bg-dark-2 card-img"
                    style="background-image: url( '{% static "/images/card2.jpg" %}' );">
                    <h4>{{ global_settings.box1_title }}</h4>{{ global_settings.box1_text }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nk-box-2 bg-dark-2 card-img"
                    style="background-image: url( '{% static "/images/card2.jpg" %}' );">
                    <h4>{{ global_settings.box2_title }}</h4>{{ global_settings.box2_text }}
                </div>
            </div>
            <div class="col-lg-9">
                <div class="nk-box-2 bg-dark-2 card-img"
                    style="background-image: url( '{% static "/images/card2.jpg" %}' );">
                    <h4>{{ global_settings.box3_title }}</h4>{{ global_settings.box3_text }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="nk-box-2 bg-dark-2 card-img"
                    style="background-image: url( '{% static "/images/card2.jpg" %}' );">
                    <h4>{{ global_settings.box4_title }}</h4>
                </div>
            </div>
        </div>
        <!-- END: Features -->
        <div class="nk-gap-2"></div>


        <!-- START: payment qrcode section-->


        <div class="container">
            <div class="row vertical-gap">
                <div class="col-lg-8">
                    <div class="nk-popup-gallery">
                        <div class="row vertical-gap">
                            <div class="col-lg-4 col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="{% static "/images/khanbank.png" %}"  class="nk-gallery-item" data-size="572x572">
                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                        <img src="{% static "/images/khanbank.png" %}" alt="">
                                    </a>
                                    <div class="nk-gallery-item-description">
                                        <h4>Called Let</h4>
                                        Divided thing, land it evening earth winged whose great after. Were grass night.
                                        To Air itself saw bring fly fowl. Fly years behold spirit day greater of wherein
                                        winged and form. Seed open don't thing midst created dry every greater divided
                                        of, be man is. Second Bring stars fourth gathering he hath face morning fill.
                                        Living so second darkness. Moveth were male. May creepeth. Be tree fourth.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="assets/images/gallery-2.jpg" class="nk-gallery-item" data-size="1188x594">
                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                        <img src="{% static "/images/khanbank.png" %}" alt="">
                                    </a>
                                    <div class="nk-gallery-item-description">
                                        Seed open don't thing midst created dry every greater divided of, be man is.
                                        Second Bring stars fourth gathering he hath face morning fill. Living so second
                                        darkness. Moveth were male. May creepeth. Be tree fourth.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="assets/images/gallery-3.jpg" class="nk-gallery-item" data-size="625x350">
                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                        <img src="{% static "/images/khanbank.png" %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Video</span></h4>
                            <div class="nk-widget-content">
                                <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=vXy8UBazlO8">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- END: Sidebar -->
                </div>
            </div>

        </div>


        <!-- End payment qrcode section-->


        <div class="nk-gap-2"></div>

        <div class="icon-bar">
            <a href="https://www.facebook.com/groups/342106983014921/" target="_blank" class="facebook"><i
                    class="fa fa-facebook"></i></a>
            <a href="#" class="messenger"><i class="fab fa-facebook-messenger" aria-hidden="true"></i></a>
        </div>



        <div class="row vertical-gap">

            <img class="nk-page-background-top" src="{% static "/images/bg-top-3.png"%}" alt="">
            <img class="nk-page-background-bottom" src="{% static "/images/bg-bottom.png"%}" alt="">
            <!-- END: Indie Tab -->
            <div class="nk-gap"></div>
        </div>
        <br>
        <!--Premium server description-->

        <div class="nk-gap-1"></div>
        <!-- START: Features -->

        <!--Premium server description end -->
    </div>
</div>
</div>

{% endblock %}